@model TaxCalculator.UI.Models.TaxResultViewModel

@{
    ViewData["Title"] = "Income Tax Calculation";
}

<div>
    <h4>Tax Calculation Result</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxableIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxableIncome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Calculation</a>
</div>
